<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <receiver
      android:name="app.shelvr.recentsaves.RecentSavesWidgetProvider"
      android:label="@string/recent_saves_widget_title"
      android:exported="true">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/recent_saves_widget_info" />
    </receiver>
  </application>
</manifest>
